<ul id="search-results">
    {{#each artist}}
        <div id="individual-result">
            {{#if this.images.0.url}}
                <img src="{{this.images.0.url}}" alt="artist-image">
            {{else}}
                <img src="https://alumni.crg.eu/sites/default/files/default_images/default-picture_0_0.png" alt="artist-image">
            {{/if}}
            <h2>{{this.name}}</h2>
            <button type="submit">View albums</button>
        </div>
    {{/each}}
</ul>
